.article-container-title {
  margin: 1em;
  color: white;
  font-family: 'UnifrakturCook', cursive;
  font-size: 2.5em;
}

.search-input {
  padding: 0.5em 5em;
  border-radius: 1em;
  font-size: 1em;
  margin-bottom: 1em;
}

.clear-search {
  padding: 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
  border: 0;
  font-size: 1em;
  cursor: pointer;
}