.app-main {
  text-align: center;
  background-color: #162477;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-container-title {
  margin: 1em;
  color: white;
  font-family: 'UnifrakturCook', cursive;
  font-size: 2.5em;
}
