.article-details {
  min-height: 30vh;
  background-color: #1f4068;
  border-radius: 1em;
  padding: 2em;
  width: 95vw;
  color: white;
  margin-top: 3em;
}

.detail-author {
  margin-top: 0.3em;
}

.content-container {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: left;
}

.detail-content {
  text-indent: 1.5em;
}

.back-home {
  font-size: 1.3em;
  color: inherit;
}

@media screen and (min-width: 780px) {
  .article-details {
    width: 70vw;
  }
}